@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Inter", "sans-serif";
  border: none;
}

:root {
  --bg-color: #04040D;
  --second-bg-color: linear-gradient(to bottom, #04040D, #8C4E37);
  --terceira-bg-color: linear-gradient(to bottom,#8C4E37, #04040D);
  --text-color: #FFFF;
  --main-color: #8C4E37;
  --header-color: #8C4E37;
  --header-transparent: #8c4e3741;
  --logo-color: #F2F2F0;
  --cinza-color: #6D808C;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
html::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

/* Header */
.header { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  background-color: var(--header-color);
  transition: background 0.3s ease;
  filter: drop-shadow(10px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra para destaque */
}

.transparent {
  background: var(--header-transparent);
}

/* Logo */
.logo {
  font-size: 2rem;
  color: var(--logo-color);
  text-decoration: none;
  font-weight: 400;
}

/* Navbar */
.navbar {
  display: flex;
  gap: 3rem;
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 15px;

}

.navbar a:hover,
.navbar a.active {
  color: var(--bg-color);
  border-bottom: 3px solid var(--cinza-color);
}

/* Menu Hambúrguer */
#menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

/* Media Queries for Navbar */
@media (max-width:995px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: var( --second-bg-color);
    border-left: 3px solid var( -- main-color );
    border-bottom: 3px solid var( -- main-color);
    border-bottom-left-radius: 2rem;
    padding: 1rem 3%;
    display:none;
    flex-direction: column;
  }

  .navbar .active {
    display: flex;
  }

  .navbar a {
    margin: 1rem 0;
  }
}

@media (max-width: 992px) {
  .header {
    padding: 1.5rem 2rem;
    height: 60px; /* Ajusta a altura para telas médias */
  }

  .navbar {
    padding: 0.8rem;
  }

  .navbar a {
    font-size: 1.4rem;
    margin: 0 0.5rem;
  }
}

@media (max-width: 768px) {
  .logo {
    font-weight: bold; /* Torna a fonte mais grossa */
    font-size: 2.5rem; /* Ajuste o tamanho da fonte conforme necessário */
  }

  .navbar {
    display: none; /* Esconde a navbar padrão por padrão */
    position: absolute;
    top: 60px; /* Ajuste conforme necessário */
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    gap: 0; /* Remove o espaçamento entre os itens */
    padding: 2px 0; /* Adiciona um padding para melhor aparência */
  }

  .navbar a {
    padding: 1rem; /* Adiciona espaçamento ao redor dos itens */
    font-size: 1.5rem;
  }

  .navbar.active {
    display: flex; /* Exibe a navbar quando ativada */
    padding: -2px;
  }

  #menu-icon {
    display: block; /* Exibe o menu hambúrguer */
  }

  .heading {
    margin-top: 50px;
  }

  /* Espaçamento para o conteúdo das seções */
  section {
    padding-top: 80px; /* Ajuste conforme a altura do menu hambúrguer */
  }


}

/* Espaçamento para o conteúdo das seções */
section {
  padding-top: 80px; /* Ajuste conforme a altura do seu header */
}

/* Home Section */
.home {
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 8rem;
  background-color: var( --bg-color);
  padding: 30px;
  margin: 80px;
}

.home-content h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
}

.heading {
  text-align: center;
  padding: 3rem;
  font-size: 4rem;
  margin-bottom: 3rem;
}

span{
  color: var( --main-color );
}

.home-content h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  padding-bottom: 5%;
}

.home-img {
  border-radius: 30%;
}

.home-img img {
  position: relative;
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 60%;
  box-shadow: 0 0 40px var(--main-color);
  cursor: pointer;
}

.home-img img:hover {
  transform: scale(1.01);
  filter: drop-shadow(0 0 25px var(--logo-color));
}

.home-content p {
  font-size: 1.6rem;
  font-weight: 500;
}

.social-icon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--logo-color);
  font-size: 2rem;
  border-radius: 50%;
  color:var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
}

.social-icon a:hover {
  color: white;
  transform: scale(1.3)translateY(-5px);
  background: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.2rem;
  background: var(--bg-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: var(--main-color);
  border: 2px solid var(--logo-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.03);
  background-color: var(--main-color);
  color: white;
  box-shadow: 0 0 25px var(--main-color);
}

/* Typing Animation */
.typing-text {
  font-size: 34px;
  font-weight: 600;
  
}

.typing-text span{
  position: relative;
}

.typing-text span::before {
  content: ""; /* Palavras iniciais */
  color: var(--main-color);
  animation: words 20s infinite;
}

.typing-text span::after {
  content: "";
  position: absolute;
  height: 100%;
  border-left: 2px solid var(--main-color);
  right: -10px;
  animation: cursor .8s infinite, digita 20s steps(15) infinite;
  width: calc(100% + 10px); /* largura de 100% e mais 13px */
  background-color: var(--bg-color);
}

@keyframes digita {
  10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
    width: 0;
  }
  5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
    width: calc(100% + 10px);
  }
}

@keyframes cursor {
  0% {
      border-left: 2px solid var(--bg-color);
  }
}

@keyframes words {
  0%, 25% {
    content: 'Web Developer';
  }
  26%, 50% {
    content: 'Software Developer';
  }
  51%, 75% {
    content: 'Web Designer';
  }
  76%, 100% {
    content: 'Desenhista';
  }
}

/* Media Queries for home */
@media (max-width: 995px) {
  .home {
    flex-direction: column;
    margin: 10rem 4rem;
    align-items: center;
  }
  .home-content {
    text-align: center;
  }

  .home-content h3 {
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
  }

  .home-content h1 {
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
  }

  .home-img img {
    width: 70vw;
    margin-top: 4rem;
    padding: 0;
    margin: 0;
  }
  .home-content p {
    font-size: 1.4rem;
    margin-top: 30px;
    text-align: justify;
  }

  .social-icon a {
    width:4rem;
    height: 4rem;
    font-size: 3rem;
  }
}

/* Services section */

.services {
  background: var(--second-bg-color);
}
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}


.service-box {
  background-color: var(--main-color);
  border: 1px solid var(--logo-color);
  border-radius: 3rem;
  cursor: pointer;
  transition: 0.3s ease;
  overflow: hidden;
  margin: 10px;
  width: calc(25% - 50px); /* Ajuste a largura dos cards para caberem 3 por linha, com margens */
  aspect-ratio: 1 / 1; /* Mantém os cards quadrados */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Centraliza o texto dentro do card */
  box-sizing: border-box; /* Garante que o padding e border sejam incluídos na largura total */
  position: relative;
}

.service-box:hover {
  background: transparent;
  color: var(--main-color);
  transform: scale(1.03);
  border: 1px solid var(--main-color);
}

.service-info {
  width: 90%; /* Ajusta a largura do conteúdo */
  text-align: center;
  margin-top: -80px;
}

.service-info h4 {
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: 30px;

}

.service-info p {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: -60px;
  text-align: center;
}

/* Media Queries */
@media (max-width: 992px) {
  .service-box {
    width: calc(45% - 20px); /* Ajuste a largura dos cards para caberem 2 por linha, com margens */
    margin: 30px;
  }
}

@media (max-width: 768px) {
  .service-box {
    width: calc(80% - 80px); /* Ajuste a largura dos cards para caberem 1 por linha, com margens */
    margin: 30px;
  }
}

/* Skills section */
.skills {
  background: var(--terceira-bg-color);
}

.skills .container{
  background: #BF8C6F;
  color: var(--text-color);
  border-radius: 1rem;
  padding: 2rem;
  width: 90%;
  margin: 0 auto;
}

.skills .container .row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.skills .container .bar{
  padding: 2rem;
  border-radius: 1rem;
  background: var(--bg-color);
  transition: 0.3s ease; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px var(--logo-color);
}

.skills .container .bar:hover{
  filter: drop-shadow(0 0 10px var(--logo-color));
  transform: scale(1.03);
}

.skills .container .bar .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.skills .container .bar .info span{
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color);
}
.skill-icon {
  width: 60px; /* Ajuste o valor conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
}


@media screen and (max-width: 600px){
  .skills .container {
    margin: 0;
    padding: 0;
  }

  .skills .container .row{
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    padding: 2rem 0.2rem 2rem 0.2rem;
    gap: 1rem;
  }

  .skills .container {
    margin-top: 5px;
    width: 100%;
  }
}

/* Education section */
.education {
  background: var(--second-bg-color);
}

.education .timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.education .timeline::after{
  content:'';
  position: absolute;
  width: 6px;
  background: var(--bg-color);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -2px;
}

.education .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.education .container::after {
  content: '\f501';
  position: absolute;
  width: 25px;
  height: 25px;
  line-height: 25px;
  right: -17px;
  background-color: rgb(252, 252, 252);
  border: 4px solid var(--bg-color);
  top: 15px;
  border-radius: 50%;
  z-index: 100;
  font-size: 1.89rem;
  text-align: center;
  font-weight: 600;
  font-family: "Font Awesome\ 5 Free";
  color: var(--header-color);
}

.education .left {
  left: 0;
}

.education .right {
  left: 50%;
}

.education .left::before {
  content: '';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--bg-color);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--bg-color);
}

.education .right::before {
  content: '';
  height: 0;
  position: absolute;
  top: 22px;
  width: 20;
  z-index: 1;
  left: 30px;
  border: medium solid var(--bg-color);
  border-width: 10px 10px 10px 0;
  border-color:  transparent var(--bg-color) transparent transparent;
}

.education .right::after {
  left: -16px;
}

.education .content {
  background: var(--logo-color);
  position: relative;
  border-radius: 6px;
}

.education .content .tag {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.education .content .decs {
  margin-left: 1.5rem;
  padding-bottom: 1rem;
}

.education .content .tag h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #272524;
}

.education .content .decs p {
  font-size: 1.3rem;
  font-weight: 500;
  color:#1a1715;
  margin: 20px;
  padding: 10px;
}

.education .content .decs p:nth-child(odd) {
  background-color: #e0e0e0;
}

.list {
  padding: 0; /* Remove o padding da lista */
  margin: 20px;
}

.list  li{
  background-color: #f0f0f0;
  margin: 5px 0; /* Espaçamento horizontal entre os itens */
  padding: 10px;
  font-size: 12px;
  color: #04040D;
}

.list li:nth-child(odd) {
  background-color: #e0e0e0;
}

@media screen and (max-width:600px){
  .education .timeline {
    margin-top: 1rem;
  }

  .education .timeline::after {
    left: 31px;
  }

  .education .container {
    width: 100%;
    padding-left: 8rem;
    padding-right: 2rem;
  }

  .education .container::after {
    font-size: 2.2rem;
  }

  .education .container::before {
    left: 61px;
    border: medium solid var(--main-color);
    border-width: 10px  10px 10px 0;
    border-color: transparent var(--main-color) transparent transparent;
  }

  .education .left::after {
    left: 15px;
  }

  .education .right::after {
    left: 15px;
  }

  .education .right {
    left: 0%;
  }
}

/* Contact section */
.contact {
  background: var(--terceira-bg-color);
}

.contact h2 {
  margin-bottom: 3rem;
  color: var(--bg-color);
}

.contact span {
  margin-bottom: 3rem;
  color: white;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  margin-bottom: 3rem;
  text-align: center;
}

.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--header-color);
  background: var(--bg-color);
  border-radius: 0.8rem;
  border: 2px solid var(--logo-color);
  margin: 1rem 0;
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 100%;
}

.input-group select,
.input-group input {
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--cinza-color);
  background: var(--bg-color);
  border-radius: 0.8rem;
  border: 2px solid var(--logo-color);
  margin: 1rem 0;
}

.input-group select {
  width: 8rem; /* Defina a largura para o tamanho desejado */
  padding: 1.5rem;
  box-sizing: border-box;
  flex: none; /* Impede que o select ocupe mais espaço que o necessário */
  margin-right: 10px;
}

/* Footer section */

.footer {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  color: black;
}  

.footer .social {
  text-align: center;
  margin: 30px;
}

.footer .social a {
  font-size: 28px;
  color: var(--header-color);
  border: 2px solid rgb(187, 170, 170);
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease;
}

.footer .social a:hover {
  transform: scale(1.2) translateY(-5px);
  background: rgb(3, 0, 0);
  color: white;
}

.footer ul {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.8;
  text-align: center;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a {
  color: black;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}

.footer ul li a:hover {
  border-bottom: 3px solid black;
}

.footer .list-contact {
  list-style: none;
  padding: 0;
  text-align: center;
}

.footer .list-contact li {
  display: inline;
  margin: 0 10px;
}

.footer .list-contact li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.footer .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  color: white;
}

.footer .copyright i {
  font-size: 20px; /* Ajuste o tamanho conforme necessário */
}

.footer .copyright p {
  margin: 0;
}

/* Media Queries Footer*/
@media (max-width: 768px) {
  .footer .list-contact li a {
    font-size: 15px; /* Tamanho da fonte menor para telas menores */
  }

  .footer .copyright {
    margin-top: 10px; /* Ajuste o valor conforme necessário */
  }

}

@media (max-width: 480px) {
  .footer .list-contact li a {
    font-size: 13px; /* Tamanho da fonte ainda menor para telas muito pequenas */
  }

  .footer .copyright {
    margin-top: 30px; /* Ajuste o valor conforme necessário */
  }
}

@media(max-width:1285px){
  html {
    font-size: 55%;
  }
  .services-container {
    padding-bottom: 7rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 1 5rem;
  }
}

@media(max-width:991px){
  .header {   
    padding: 5rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }

  .footer {
    padding: 5rem 3%;
  }

}

